
@{
    ViewBag.Title = "ErrorSession";
}

<h2>Session Habis</h2>
<h4>Diharapkan Login Kembali</h4>
<p>
    @Html.RouteLink("Ke Halaman Login", "Default", new { action = "Login", controller = "Dashboard" })
</p>
