
@{
    ViewBag.Title = "ErrorLogin";
}

<h2>ErrorLogin</h2>
<h4>Username atau password salah</h4>
<h4>Cek kembali username atau password anda</h4>
<div>@Html.ActionLink("Ke Halaman Login", "Login")</div>

