
@{
    ViewBag.Title = "Login";
}
<title>Form Login</title>
<center>
    <h2>Login</h2>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">

            <form method="post" action="@Url.Action("LoginData", "Dashboard")">
                <div class="col-md-12">

                    <div class="form-group">
                        <label class="control-label">Username (email)</label>
                        <input name="username" type="email" class="form-control" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input name="password" type="password" class="form-control" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                    <div>
                        @Html.ActionLink("Kembali ke Awal", "Index")
                    </div>

                </div>
            </form>
        </div>
    </div>
</center>


