
@{
    ViewBag.Title = "Register";
}

<title>Form Register</title>

    <h2>Register</h2>
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">

            <form method="post" action="@Url.Action("RegisterData", "Dashboard")">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- <input name="id_user" hidden="hidden" /> -->
                        <label class="control-label">Username (email)</label>
                        <input name="username" type="email" class="form-control" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nama</label>
                        <input name="nama_supplier" type="text" class="form-control" required autocomplete="off" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input name="password" type="password" class="form-control" required autocomplete="off" />
                    </div>
                    <input name="status_user" hidden="hidden" value="1" />
                    <!-- <div class="form-group">
                          <label class="control-label">Status User</label>
                          <select name="status_user" class="form-control" required>
                              <option selected="selected" value="">--- Pilih Status User ---</option>
                              <option value="0">Admin</option>
                              <option value="1">Supplier</option>
                          </select>
                         </div> -->
                </div>
                <div class="col-md-6">                   

                    <div class="form-group">
                        <label class="control-label">Alamat</label>
                        <!--<input name="alamat_supplier" type="text" class="form-control" required autocomplete="off" />-->
                        <textarea name="alamat_supplier" type="text" class="form-control" required maxlength="50"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">No. Telp</label>
                        <input name="telp_supplier" type="text" onkeypress="return isNumberKey(event)" class="form-control" required autocomplete="off" maxlength="12" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Register" class="btn btn-default" />
                    </div>
                    <div>
                        @Html.ActionLink("Ke Halaman Login", "Login")
                    </div>

                </div>
            </form>
        </div>
    </div>
    <script>
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }    
    </script>

