@model ManajemenBarang.Areas.Admin.Models.BarangMasuk

@{
    ViewBag.Title = "Delete";
}

<h3>Anda yakin akan menghapus data ini?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <input type="button" value="Back" class="btn btn-primary" onclick="location.href='@Url.Action("Index","Mahasiswa")'" />
    </div>
    }
</div>
